
<form action="/payment/results">
  <label for="Emily">APR</label>
  <input id="Emily" type="text" placeholder="E.g. 5.42" name="user_apr">

  <div></div>

  <label for="David">Number of years</label>
  <input id="David" type="text" placeholder="How many years to repay?" name="user_years">

  <div></div>

  <label for="Sinclair">Principal</label>
  <input id="Sinclair" type="text" placeholder="How much principal?" name="user_pv">

  <div></div>

  <button>Calculate monthly payment</button>
</form>
